@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #eee8e4 !important;
}

.contact-img{
    width: 165px;
    height: 165px;
    border-radius: 50%;
}

.edit-contact{
    color: #1f1fad !important;
}